In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
print("Lahari")

Lahari

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("a", id(a))

b=10
print(b)
print("b", id(b))

c=a
print("c", id(c))

10
a 10751144
10
b 10751144
c 10751144

In [ ]:
#dynamic
a=10
print(a)
print("a", id(a))

a=3.14
print(a)
print("a", id(a))

a= "NTT"
print(a)
print

10
a 10751144
3.14
a 134429805331504

In [ ]:
#Deleting a Variable
a= 20
print(a)

del a
print(a)

20

In [ ]:
a= "NTT Data"
print(a[0:1:1])
print(a[0:7:1])
print(a[0:-3:1])
print(a[-2:-6:1])
print(a[-1:-7:-2])

N
NTT Dat
NTT D

aa

In [ ]:
#day3
# Simple iF Statement
if 10>3:
  print("10 is greater than 3")
  print("this is if statement")

In [ ]:
# input Statement
name = input("Enter your name: ")
print("Welcome", name)

Enter your name: lahari
Welcome lahari

In [ ]:
no1 = input("Enter first number: ")
no2 = input("Enter second number: ")
print(no1+no2)
if no1>no2:
  print("no1 is greater than no2")
else:
  print("no2 is greater than no1")

Enter first number: 10
Enter second number: 6
106
no2 is greater than no1

In [ ]:
age = int(input("Enter your age: "))
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

print("Thank you")

Enter your age: 29
You are eligible to vote
Thank you

In [ ]:
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
if a % 2 == 0:  # Colon added and print statement indented
    print("a is even")
else :
    print("a is odd")  # Print statement indented

Enter first number: 2
Enter second number: 1
a is even

In [ ]:
num = int(input("Enter a number: "))
i=1
while (i<=10):
  if (i%2!=0):
    print(num, "*", i, "=", num*i)
  i=i+1

Enter a number: 10
10 * 1 = 10
10 * 3 = 30
10 * 5 = 50
10 * 7 = 70
10 * 9 = 90

In [ ]:
from typing import Counter
v = ['a','e','i','o','u']
st = "bangalore".lower()
Counter = 0
for i in st:
  if i in v:
    Counter = Counter + 1
    print(Counter)

1
2
3
4

In [ ]:
 #reverse a string using slicing

a = 'NTT'
print(a[::-1])

TTN

In [ ]:
#palindrome
str = input("Enter a string: ")
rev = str [::-1]
if str==rev:
  print("palindrome")
else:
  print("not a palindrome")

Enter a string: level
palindrome

In [2]:
#list
l = [10,20,30,1.1,'NTT']
print(l)
print(type(l))

[10, 20, 30, 1.1, 'NTT']
<class 'list'>

In [7]:
#list indexing
l1 = [10,20,3.15,"NTT",[1,2,3]]
print(l1[1])

print(l1[-1])
print(l1[-2])
print(l1[4][2])

20
[1, 2, 3]
NTT
3

In [8]:
#list slicing
l1 = [10,20,3.15,"NTT",[1,2,3]]
print(l1[::-1])

[[1, 2, 3], 'NTT', 3.15, 20, 10]

In [14]:
#concatination
l1 = [10,20,30]
l2 = [40,50,60]
print(l1+l2)
l3 = l1+l2
print(l3)
l4 = l2+l1
print(l4)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]

In [15]:
#multiplication
l1=[10,20,30]
print(l1*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [21]:
#list itration
l1=[10,20,30]
print(l1)
for i in l1:
  print(i)

[10, 20, 30]
10
20
30

In [18]:
#list membership
l1=[10,20,30]
print(10 in l1)
print(10 not in l1)

True
False

In [20]:
#list deletion
l1=[10,20,30,40]
print(l1)
del l1[0:2]
print(l1)

[10, 20, 30, 40]
[30, 40]

In [27]:
#max element
l1=[10,20,30]
print(max(l1))
print(min(l1))

l2=["Appleaa","Amma","Bannana"] # due to asci value
print(max(l2,key = len)) # key = len means will find length of the string rather than asci
print(min(l2))

30
10
Appleaa
Amma

In [28]:
#apend method
l1=[10,20,30]
l1.append(1.234)
print(l1)

[10, 20, 30, 1.234]

In [30]:
#append multiple elements
k=[1,2,3,4,5]
i=0
while i<5:
  l=int(input("Enter a number: "))
  k.append(l)
  i=i+1
print(k)

Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 2
Enter a number: 2
[1, 2, 3, 4, 5, 1, 1, 1, 2, 2]

In [32]:
#extend
l1=[10,20,30]
l2=[40,50,60, "NTT"]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 50, 60, 'NTT']

In [33]:
#extend
l1=[10,20,30]
l2=["NTT"]
l1.extend(l2)
print(l1)

[10, 20, 30, 'NTT']

In [40]:
#extend
l1=[10,20,30]
l1.extend("NTT data")
print(l1)

[10, 20, 30, 'N', 'T', 'T', ' ', 'd', 'a', 't', 'a']

In [39]:
#insert
l1=[10,20,30]
l1.insert(0,100)
l1.insert(0,"NTT")
print(l1)

['NTT', 100, 10, 20, 30]

In [41]:
#remove
l1=[10,20,30,40,10,10,10]
l1.remove(10)
print(l1)

[20, 30, 40, 10, 10, 10]

In [47]:
#pop
l1=[10,20,30,40,50,60]
l1.pop(5)
print(l1)
print(l1.pop())

print(l1)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]

In [48]:
#clear
l1=[10,20,30,40,50,60]
l1.clear()
print(l1)

[]

In [52]:
#delete
l1=[10,20,30,40,50,60]
l1.del()
# print(l1)

SyntaxError: invalid syntax (<ipython-input-52-0e5d2d87a28e>, line 3)