In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
print("Lahari")

Lahari

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("a", id(a))

b=10
print(b)
print("b", id(b))

c=a
print("c", id(c))

10
a 10751144
10
b 10751144
c 10751144

In [ ]:
#dynamic
a=10
print(a)
print("a", id(a))

a=3.14
print(a)
print("a", id(a))

a= "NTT"
print(a)
print

10
a 10751144
3.14
a 134429805331504

In [ ]:
#Deleting a Variable
a= 20
print(a)

del a
print(a)

20

In [ ]:
a= "NTT Data"
print(a[0:1:1])
print(a[0:7:1])
print(a[0:-3:1])
print(a[-2:-6:1])
print(a[-1:-7:-2])

N
NTT Dat
NTT D

aa

In [ ]:
#day3
# Simple iF Statement
if 10>3:
  print("10 is greater than 3")
  print("this is if statement")

In [ ]:
# input Statement
name = input("Enter your name: ")
print("Welcome", name)

Enter your name: lahari
Welcome lahari

In [ ]:
no1 = input("Enter first number: ")
no2 = input("Enter second number: ")
print(no1+no2)
if no1>no2:
  print("no1 is greater than no2")
else:
  print("no2 is greater than no1")

Enter first number: 10
Enter second number: 6
106
no2 is greater than no1

In [ ]:
age = int(input("Enter your age: "))
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

print("Thank you")

Enter your age: 29
You are eligible to vote
Thank you

In [ ]:
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
if a % 2 == 0:  # Colon added and print statement indented
    print("a is even")
else :
    print("a is odd")  # Print statement indented

Enter first number: 2
Enter second number: 1
a is even

In [ ]:
num = int(input("Enter a number: "))
i=1
while (i<=10):
  if (i%2!=0):
    print(num, "*", i, "=", num*i)
  i=i+1

Enter a number: 10
10 * 1 = 10
10 * 3 = 30
10 * 5 = 50
10 * 7 = 70
10 * 9 = 90

In [ ]:
from typing import Counter
v = ['a','e','i','o','u']
st = "bangalore".lower()
Counter = 0
for i in st:
  if i in v:
    Counter = Counter + 1
    print(Counter)

1
2
3
4

In [ ]:
 #reverse a string using slicing

a = 'NTT'
print(a[::-1])

TTN

In [ ]:
#palindrome
str = input("Enter a string: ")
rev = str [::-1]
if str==rev:
  print("palindrome")
else:
  print("not a palindrome")

Enter a string: level
palindrome

In [ ]:
#list
l = [10,20,30,1.1,'NTT']
print(l)
print(type(l))
l.count

[10, 20, 30, 1.1, 'NTT']
<class 'list'>

In [ ]:
#list indexing
l1 = [10,20,3.15,"NTT",[1,2,3]]
print(l1[1])

print(l1[-1])
print(l1[-2])
print(l1[4][2])

20
[1, 2, 3]
NTT
3

In [4]:
#list slicing
l1 = [10,20,3.15,"NTT",[1,2,3],"a"]
l2=l1
l2.append(40)
print(l1)
print(l2)
print(l1[::2])
print(l1[::-1])
print(l1[2:4])

[10, 20, 3.15, 'NTT', [1, 2, 3], 'a', 40]
[10, 20, 3.15, 'NTT', [1, 2, 3], 'a', 40]
[10, 3.15, [1, 2, 3], 40]
[40, 'a', [1, 2, 3], 'NTT', 3.15, 20, 10]
[3.15, 'NTT']

In [15]:
names_ages = {'John': 35, 'Jim': 45, 'Alice': 25}
names_ages['John']
set_1 = {2, 4, 6, 8}
set_2 = {1, 2, 5, 6, 7, 8}
set_1.union(set_2) #gets all the unique from both the lists
names_ages = [['John', 35], ['Jim', 45], ['Alice',25]]
to_dict = dict(names_ages)
to_dict

{'John': 35, 'Jim': 45, 'Alice': 25}

In [9]:
dict_a = {"John": 35," Jim": 22, "Jill": 44}
dict_copy = dict_a.copy()
dict_copy['John'] = 40
del dict_copy['John']
print(dict_a)
print(dict_copy)

{'John': 35, ' Jim': 22, 'Jill': 44}
{' Jim': 22, 'Jill': 44}

In [10]:
dict_a = {"John": 35," Jim": 22, "Jill": 44}
dict_copy = dict_a
dict_copy['John'] = 40
del dict_copy['John']
print(dict_a)
print(dict_copy)

{' Jim': 22, 'Jill': 44}
{' Jim': 22, 'Jill': 44}

In [11]:
old_list= [1, 2, 3]
new_list = old_list.copy()
new_list.append('a')
print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3]

In [11]:
list(range(2, 14, 4))
print(list(range(2, 14, 4)))

[2, 6, 10]

In [13]:
mylist = ["a", "b", "c", "d", "e", "f"]
print(mylist[2:5])

['c', 'd', 'e']

In [9]:
friends = ["Annabelle", "Greg", "Katya", "Sol"]

#insert(friends,2,"gus")
friends.insert(-2,"gus")
print(friends)
print(friends.count("Greg"))

['Annabelle', 'Greg', 'gus', 'Katya', 'Sol']
1

In [1]:
olympic_sports = ["Hockey", "Swimming", "Fencing", "Volleyball", "Breakdancing"]
olympic_sports.remove("Breakdancing")
print(olympic_sports)

['Hockey', 'Swimming', 'Fencing', 'Volleyball']

In [4]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20}

inventory["invisible knife"] = 40
inventory["mithril shield"] = 25
print(inventory)

{'iron spear': 12, 'invisible knife': 40, 'needle of ambition': 10, 'stone glove': 20, 'mithril shield': 25}

In [1]:
raffle = {223842: "Teddy Bear", 872921: "Concert Tickets", 320291: "Gift Basket", 412123: "Necklace", 298787: "Pasta Maker"}

raffle.pop(561721, "No Value")
print(raffle)

{223842: 'Teddy Bear', 872921: 'Concert Tickets', 320291: 'Gift Basket', 412123: 'Necklace', 298787: 'Pasta Maker'}

In [2]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals[2])

['hamburger', 'fries', 'soda']

In [3]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals[3])

KeyError: 3

In [4]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}

print(12 in inventory)

False

In [5]:
oscars = {"Best Picture": "Moonlight", "Best Actor": "Casey Affleck", "Best Actress": "Emma Stone", "Animated Feature": "Zootopia"}

for element in oscars.values():
  print(element)

Moonlight
Casey Affleck
Emma Stone
Zootopia

In [6]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}
print(inventory.get("stone glove", 30))

20

In [7]:
oscars = {"Best Picture": "Moonlight", "Best Actor": "Casey Affleck", "Best Actress": "Emma Stone", "Animated Feature": "Zootopia"}

for element in oscars:
  print(element)

Best Picture
Best Actor
Best Actress
Animated Feature

In [8]:
combo_meals = {1: ["hamburger", "fries"], 2: ["hamburger", "fries", "soda"], 4: ["veggie burger", "salad", "soda"], 6: ["hot dog", "apple slices", "orange juice"]}
print(combo_meals.get(3, ["hamburger", "fries"]))

['hamburger', 'fries']

In [9]:
inventory = {"iron spear": 12, "invisible knife": 30, "needle of ambition": 10, "stone glove": 20, "the peacemaker": 65, "demonslayer": 50}

print("the peacemaker" in inventory)

True

In [10]:
def print_some_characters(word):
  for i in range(len(word)):
    if i % 2 == 0:
      print(word[i])

print_some_characters("watermelon")

w
t
r
e
o

In [11]:
cool_fruit = "watermelon"
cool_fruit[len(cool_fruit) - 2]

'o'

In [ ]:
def tell_me_about_icecream(favorite_icecream):
  response = "My favorite icecream is" + favorite_icecream + "."
  print(response)

tell_me_about_icecream("chocolate")

In [12]:
def tell_me_about_icecream(favorite_icecream):
  response = "My favorite icecream is" + favorite_icecream + "."
  print(response)

tell_me_about_icecream("chocolate")

My favorite icecream ischocolate.

In [13]:
least_favorite_fruit = "cantaloupe"
print(least_favorite_fruit[5:7])

lo

In [5]:
greeting = ["Hello", "my", "name", "is", "Earl"]

print(greeting)

['Hello', 'my', 'name', 'is', 'Earl']

In [17]:
xyz ="Hello ahari"
xyz.capitalize()
print(xyz)

Hello ahari

In [11]:
user_name = ":::::::: Eloise :::::::::::"
user_name_fixed = user_name.strip(":")
print(user_name_fixed)

 Eloise

In [13]:
dirty_harry = "Go ahead, make my day."
split_hairs = dirty_harry.split("a")
print(split_hairs)

['Go ', 'he', 'd, m', 'ke my d', 'y.']

In [10]:
pizza_toppings = ["Cheese", "Pepperoni", "Garlic", "Pineapple", "Mushroom", "Prosciutto"]
pizza_toppings.pop(5)
print(pizza_toppings)

['Cheese', 'Pepperoni', 'Garlic', 'Pineapple', 'Mushroom']

In [8]:
old_list = [1, 2, 3]
new_list = old_list
new_list.append('a')
print(len(new_list))
print(new_list.count(2))

print('New List:', new_list)
print('Old List:', old_list)

4
1
New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [5]:
#some_list = [‘a’, ‘b’, ‘c’, ‘d’, ‘e’, ‘f’]
#print(some_list[1:5])

SyntaxError: invalid character '‘' (U+2018) (<ipython-input-5-3087439674>, line 1)

In [ ]:
#concatination
l1 = [10,20,30]
l2 = [40,50,60]
print(l1+l2)
l3 = l1+l2
print(l3)
l4 = l2+l1
print(l4)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]

In [ ]:
#multiplication
l1=[10,20,30]
print(l1*3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
#list itration
l1=[10,20,30]
print(l1)
for i in l1:
  print(i)

[10, 20, 30]
10
20
30

In [ ]:
#list membership
l1=[10,20,30]
print(10 in l1)
print(10 not in l1)

True
False

In [ ]:
#list deletion
l1=[10,20,30,40]
print(l1)
del l1[0:2]
print(l1)

[10, 20, 30, 40]
[30, 40]

In [ ]:
#max element
l1=[10,20,30]
print(max(l1))
print(min(l1))

l2=["Appleaa","Amma","Bannana"] # due to asci value
print(max(l2,key = len)) # key = len means will find length of the string rather than asci
print(min(l2))

30
10
Appleaa
Amma

In [ ]:
#apend method
l1=[10,20,30]
l1.append(1.234)
print(l1)

[10, 20, 30, 1.234]

In [ ]:
#append multiple elements
k=[1,2,3,4,5]
i=0
while i<5:
  l=int(input("Enter a number: "))
  k.append(l)
  i=i+1
print(k)

Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 2
Enter a number: 2
[1, 2, 3, 4, 5, 1, 1, 1, 2, 2]

In [ ]:
#extend
l1=[10,20,30]
l2=[40,50,60, "NTT"]
l1.extend(l2)
print(l1)

[10, 20, 30, 40, 50, 60, 'NTT']

In [ ]:
#extend
l1=[10,20,30]
l2=["NTT"]
l1.extend(l2)
print(l1)

[10, 20, 30, 'NTT']

In [ ]:
#extend
l1=[10,20,30]
l1.extend("NTT data")
print(l1)

[10, 20, 30, 'N', 'T', 'T', ' ', 'd', 'a', 't', 'a']

In [ ]:
#insert
l1=[10,20,30]
l1.insert(0,100)
l1.insert(0,"NTT")
print(l1)

['NTT', 100, 10, 20, 30]

In [ ]:
#remove
l1=[10,20,30,40,10,10,10]
l1.remove(10)
print(l1)

[20, 30, 40, 10, 10, 10]

In [ ]:
#pop
l1=[10,20,30,40,50,60]
l1.pop(5)
print(l1)
print(l1.pop())

print(l1)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]

In [ ]:
#clear
l1=[10,20,30,40,50,60]
l1.clear()
print(l1)

[]

In [ ]:
#delete
l1=[10,20,30,40,50,60]
del l1
#print(l1)

In [ ]:
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3]
A = a[:]
print(A)
A =10
print(A)

[1, 2, 3]
10

In [ ]:
def test(city, name, age, current_city):
  print("My name is ", name, "and I am ", age, "years old", "I'm native of", city, "and I live in", current_city)


test("hyd","lah",age=25,current_city="bangalore")

My name is  lah and I am  25 years old I'm native of hyd and I live in bangalore

In [ ]:
#default arguements
def student(name, age, m1, m2, m3, college="BITSW"):
  print(name,age, m1,m2, m3, college)


student("Lahari", 25,96,97,98)
student("vaishnavi", 26,93,94,95,"BI")

Lahari 25 96 97 98 BITSW
vaishnavi 26 93 94 95 BI

In [ ]:
#positional arguements--keyword args----------Default args

def student(name, age, m1, m2, m3, college="BITSW"):
  print(name,age, m1,m2, m3, college)


student("Lahari",m1=96, age=25,m2=97,m3=98)
student("vaishnavi", 26,93,94,95,"BI")

Lahari 25 96 97 98 BITSW
vaishnavi 26 93 94 95 BI

In [ ]:
#class

def _init_(self, n1, n2):
  self.n1=n1
  self.n2=n2
  self.res = 0

  obj1 = Sample()
  Obj2 = Sample()
  obj3 = Sample()

  obj1.input_data()
  obj2.input_data()
  obj3.input_data()

  obj1.display_data()
  obj2.display_data()
  obj3.display_data()

  obj1.process_data()
  obj2.process_data()
  obj3.process_data()

  obj1.display_data()
  obj2.display_data()
  obj3.display_data()

  obj1.output_data()
  obj2.output_data()
  obj3.output_data()

In [ ]:
#simple Calculator
class Calculator:

  # Note: The constructor method is __init__ (two underscores), not _init_ (one underscore)
  def __init__(self):
    self.n1=0
    self.n2=0
    self.res=0

  def input_data(self):
    self.n1 = int(input("Enter first number: "))
    self.n2 = int(input("Enter second number: "))

  def add(self):
    self.res = self.n1 + self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

# Create instances of the Calculator class
c1 = Calculator()
c2 = Calculator()

# Call methods on the instances
c1.input_data()
c1.add()
c1.sub()

c2.input_data()
c2.add()
c2.sub()

Enter first number: 10
Enter second number: 20
30
-10

In [ ]:
class Test:

  def __init__(self, aa, bb):
    self.res=0
    self.a=aa
    self.b=bb

  def __init__(self):

In [ ]:
class Employee:
  def __init__(self, n, id, dep, sal):
    self.name = n
    self.empid = id
    self.dept = dep
    self.salary = sal
    self.bonus = 20
    self.total_salary = 0

  def calculate_salary(self):
    self.total_salary = self.salary + self.bonus

  def display_details(self):
    print('Employee Name:', self.name, ', Employee ID:', self.empid, '\nDepartment:', self.dept, ', Salary:', self.salary, ', Bonus:', self.bonus, ', Total Salary:', self.total_salary)

e1 = Employee('Tom', 101, 'IT', 5000)
e1.calculate_salary()
e1.display_details()

Employee Name: Tom , Employee ID: 101
Department: IT , Salary: 5000 , Bonus: 20 , Total Salary: 5020

In [ ]:
dct = {}
dct['1']=(1,2)
dct['2']=(2,1)

for x in dct.keys():
  print(dct[x][1])

In [2]:
names_list.count_times(“John”)

SyntaxError: invalid character '“' (U+201C) (<ipython-input-2-3812275416>, line 1)