In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
print("Lahari")

Lahari

In [ ]:
2+3

5

In [ ]:
a=10
print(a)
print("a", id(a))

b=10
print(b)
print("b", id(b))

c=a
print("c", id(c))

10
a 10751144
10
b 10751144
c 10751144

In [ ]:
#dynamic
a=10
print(a)
print("a", id(a))

a=3.14
print(a)
print("a", id(a))

a= "NTT"
print(a)
print

10
a 10751144
3.14
a 134429805331504

In [ ]:
#Deleting a Variable
a= 20
print(a)

del a
print(a)

20

In [ ]:
a= "NTT Data"
print(a[0:1:1])
print(a[0:7:1])
print(a[0:-3:1])
print(a[-2:-6:1])
print(a[-1:-7:-2])

N
NTT Dat
NTT D

aa

In [ ]:
#day3
# Simple iF Statement
if 10>3:
  print("10 is greater than 3")
  print("this is if statement")

In [ ]:
# input Statement
name = input("Enter your name: ")
print("Welcome", name)

Enter your name: lahari
Welcome lahari

In [ ]:
no1 = input("Enter first number: ")
no2 = input("Enter second number: ")
print(no1+no2)
if no1>no2:
  print("no1 is greater than no2")
else:
  print("no2 is greater than no1")

Enter first number: 10
Enter second number: 6
106
no2 is greater than no1

In [ ]:
age = int(input("Enter your age: "))
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

print("Thank you")

Enter your age: 29
You are eligible to vote
Thank you

In [ ]:
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
if a % 2 == 0:  # Colon added and print statement indented
    print("a is even")
else :
    print("a is odd")  # Print statement indented

Enter first number: 2
Enter second number: 1
a is even

In [ ]:
num = int(input("Enter a number: "))
i=1
while (i<=10):
  if (i%2!=0):
    print(num, "*", i, "=", num*i)
  i=i+1

Enter a number: 10
10 * 1 = 10
10 * 3 = 30
10 * 5 = 50
10 * 7 = 70
10 * 9 = 90

In [ ]:
from typing import Counter
v = ['a','e','i','o','u']
st = "bangalore".lower()
Counter = 0
for i in st:
  if i in v:
    Counter = Counter + 1
    print(Counter)

1
2
3
4

In [ ]:
 #reverse a string using slicing

a = 'NTT'
print(a[::-1])

TTN

In [ ]:
#palindrome
str = input("Enter a string: ")
rev = str [::-1]
if str==rev:
  print("palindrome")
else:
  print("not a palindrome")

Enter a string: level
palindrome

In [2]:
#list
l = [10,20,30,1.1,'NTT']
print(l)
print(type(l))

[10, 20, 30, 1.1, 'NTT']
<class 'list'>

In [6]:
#list indexing
l1 = [10,20,3.15,"NTT",[1,2,3]]
print(l1[1])

print(l1[-1])
print(l1[-2])

20
[1, 2, 3]
NTT